*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain; }

figure {
  text-align: center;
  overflow: hidden;
  max-width: 25vw;
  max-height: 70vh;
  font-size: 1.6rem;
  background-color: #f5f7ff;
  border-radius: 1rem;
  font-family: "Red Hat Display", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.image {
  background-image: url("../../images/illustration-hero.svg");
  min-height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.content {
  margin: 4rem 6rem; }

.header {
  font-weight: 900; }

.paragraph {
  margin-top: 1rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #1f2f56; }

.plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  font-weight: 500;
  margin-bottom: 3rem; }
  .plan__info {
    margin-right: 8rem; }
  .plan__header {
    font-size: 1.6rem; }
  .plan__price__ {
    font-weight: 500;
    color: #7280a7; }
  .plan__link {
    color: #3829e0; }

@media only screen and (max-width: 1464px) {
  html {
    font-size: 50%; }
  /* figure {
        height: 60vh;
      } */ }

@media only screen and (max-width: 1211px) {
  html {
    font-size: 40%; } }
