*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e0e8ff;
}

.figure {
  display: flex;
  flex-direction: column;
  height: 60rem;
  width: 45rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  font-size: 1.6rem;
  font-family: "Red Hat Display", sans-serif;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 2rem #7280a7;
}

.image {
  background-image: url(../../images/illustration-hero.svg);
  background-repeat: no-repeat;
  min-height: 25rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5rem 0 5rem;
}

.content_header {
  font-weight: 900;
  color: #1f2f56;
}

.content_paragraph {
  margin-top: 1rem;
  font-weight: 500;
  color: #7280a7;
  text-align: center;
}

.content_plan {
  background-color: #f5f7ff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  width: 35rem;
  height: 8rem;
  border-radius: 1.5rem;
}

.content_plan__icon {
  margin-left: -1rem;
}

.content_plan__info {
  margin-left: -5rem;
}

.content_plan__info_header {
  font-weight: 900;
  font-size: 1.5rem;
  color: #1f2f56;
}

.content_plan__info_price {
  font-weight: 500;
  color: #7280a7;
}

.content_plan__link {
  color: #3829e0;
  font-weight: 700;
}

.content_plan__link:hover {
  cursor: pointer;
  color: #796ef2;
  text-decoration: none;
}

.content_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2.5rem;
  width: 100%;
}

.content_btn__first {
  border-style: none;
  height: 4rem;
  border-radius: 0.7rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  background-color: #3829e0;
  color: #f5f7ff;
  filter: drop-shadow(0rem 1rem 1.3rem #7280a7);
}

.content_btn__first:hover {
  cursor: pointer;
}

.content_btn__first:hover {
  background-color: #796ef2;
}

.content_btn__second {
  border-style: none;
  height: 4rem;
  border-radius: 0.7rem;
  font-weight: 700;
  background-color: white;
  color: #7280a7;
}

.content_btn__second:hover {
  cursor: pointer;
}

.content_btn__second:hover {
  color: #1f2f56;
  font-weight: 900;
}

@media only screen and (max-width: 500px) {
  body {
    background-image: url(../../images/pattern-background-mobile.svg);
  }
  .figure {
    height: 54rem;
    width: 33rem;
    font-size: 1.4rem;
  }
  .image {
    background-size: contain;
  }
  .content_header {
    margin-top: -6rem;
    font-size: 2rem;
  }
  .content_paragraph {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .content_plan {
    margin-top: 3rem;
    width: 29rem;
  }
  .content_plan__info {
    font-size: 1.3rem;
  }
  .content_plan__icon {
    margin-right: 1rem;
  }
  .content_btn {
    width: 29rem;
  }
  .content_btn__second {
    font-weight: 900;
  }
}
